<div class="heading-block">
  <span>DC</span>
  <%= image_tag "wheel.png" %>
  <span>Truckery</span>
</div>
<div class="ad-block">
  <div class="small-ad">
    <%= image_tag "http://placehold.it/320x50" %>
  </div>
  <div class="large-ad">
    <%= image_tag "http://placehold.it/728x90" %>
  </div>
</div>
<div class="container">
  <article class="tabs">

  	<section id="tab1">
  		<%= partial "tab1" %>
  	</section>
	
  	<section id="tab2">
  		<%= partial "tab2" %>
  	</section>
	
  	<section id="tab3">
  		<%= partial "tab3" %>
  	</section>

  </article>
</div>
<div class="footer">
  Made with hunger by <a href="http://twitter.com/noannualfee" target="_blank" >Joshua Diamond</a> and <a href="http://twitter.com/adamklevy" target="_blank" >Adam Levy</a>
</div>